snippet license "Third party license file entry" 
-----

The following software may be included in this product: ${1:PRODUCT}. This software contains the following license and notice below:

${2:NOTICE}
endsnippet
