snippet header "Standard file header" b
/**
 * @file   `!p snip.rv = fn`  
 * @author Dennis Sitelew
 * @date   `!v strftime("%b %d, %Y")`
 * @brief  ${1:Brief file description}
 *
 * ${2:Detailed file description}
 */
endsnippet

snippet separator "Separator within files" b
////////////////////////////////////////////////////////////////////////////////
/// Class: ${1:Name}
////////////////////////////////////////////////////////////////////////////////
endsnippet
